<!DOCTYPE html>
<html lang="cn-zh">
<head>
    <meta charset="UTF-8">
    <title>添加操作</title>
</head>
<body>
<center>
    <form action="/adds/" method="post">
        <h1>请输入添加的信息</h1>
        <table>
            <tr>
                <td>标识:</td>
                <td><input type="text" name="id"><br></td>
            </tr>
            <tr>
                <td>子类:</td>
                <td><input type="text" name="class"><br></td>
            </tr>
            <tr>
                <td>姓名:</td>
                <td><input type="text" name="name"><br></td>
            </tr>
            <tr>
                <td>内容:</td>
                <td><input type="text" name="content"><br></td>
            </tr>
            <tr>
                <td>举证:</td>
                <td><input type="text" name="proof"><br></td>
            </tr>
            <tr>
                <td>数量:</td>
                <td><input type="text" name="number"><br></td>
            </tr>
             <tr>
                <td>完成:</td>
                <td><input type="text" name="done"><br></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" ,value="确定"></td>
            </tr>

        </table>
    </form>
</center>
</body>
</html>
