<!DOCTYPE html>
<html lang="cn-zh">
<head>
    <meta charset="UTF-8">
    <title>更改操作</title>
</head>
<body>
<center>
    <h1>更改需要更改的信息</h1>
    <form action="/chas" method="post">
        <table>
            {% for i in userlist %}
            <tr>
                <td>标识:<input type="text" name="id" readonly="readonly" value="{{ i.id }}"><br></td>
            </tr>
            <tr>
                <td>子类:<input type="text" name="class" value="{{ i.class }}"><br></td>
            </tr>
            <tr>
                <td>姓名:<input type="text" name="name" value="{{ i.name }}"><br></td>
            </tr>
            <tr>
                <td>内容:<input type="text" name="content" value="{{ i.content }}"><br></td>
            </tr>
            <tr>
                <td>举证:<input type="text" name="proof" value="{{ i.proof }}"><br></td>
            </tr>
                <tr>
                <td>数量:<input type="text" name="number" value="{{ i.number }}"><br></td>
            </tr>
                <tr>
                <td>完成:<input type="text" name="done" value="{{ i.done }}"><br></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" align="center"><input type="submit" ,value="确定"></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>
