<!DOCTYPE html>
<html lang="cn-zh">
<head>
    <meta charset="UTF-8">
    <title>添加操作</title>
</head>
<body>
<center>
    <form action="/adds/" method="post">
        <h1>请输入添加的信息</h1>
        <table>
            <tr>
                <td>学号:</td>
                <td><input type="text" name="id"><br></td>
            </tr>
            <tr>
                <td>姓名:</td>
                <td><input type="text" name="name"><br></td>
            </tr>
            <tr>
                <td>班级:</td>
                <td><input type="text" name="age"><br></td>
            </tr>
            <tr>
                <td>性别:</td>
                <td><input type="text" name="sex"><br></td>
            </tr>
            <tr>
                <td>语文:</td>
                <td><input type="text" name="class"><br></td>
            </tr>
             <tr>
                <td>数学:</td>
                <td><input type="text" name="math"><br></td>
            </tr>
             <tr>
                <td>英语:</td>
                <td><input type="text" name="english"><br></td>
            </tr>
             <tr>
                <td>综合:</td>
                <td><input type="text" name="comprehensive"><br></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" ,value="确定"></td>
            </tr>

        </table>
    </form>
</center>
</body>
</html>
